<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Alexia Talavutis</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">	</head>
<style>
body, html {
height: 98%;
margin: 0;
}

html { 
background: url(palm.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.image {
background-image: url("pic_one.jpg");
height: 99%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.logo {
background-image: url("Logo_alb.jpg");
height: 65%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.gif {
background-image: url("boomerang.gif");
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.navbar {
background-color: black
}

.navbar-left > img {
height: 90px;
}

.navbar-right {
text-align: center;
padding: 10px;
font-size: 0;
}

.navbar-right ul {
margin: 0;
padding: 0;
text-align: right;
display: inline-block;
vertical-align: middle;
}

.navbar-right ul li {
display: inline-block;
font-size: 16px;
}

.navbar-right ul li a {
color: #ffffff;
text-decoration: none;
display: inline-block;	
padding-top: 25px;
padding-left: 10px;
transition: color 0.5s;
}

.navbar-right li {
margin-bottom: 10px;
}

.navigation {
display: inline-block;
color: white;
text-decoration: none;
}

.navigation::after {
content: '';
display: block;
width: 0;
height: 2px;
background: white;
transition: width .5s;
}

.navigation:hover::after {
width: 100%;
transition: width .5s;
}
.image-hover {
position: relative;
}

.image-hover .image {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color:rgb(0,0,0);
opacity:0.3;
overflow: hidden;
width: 0;
height: 100%;
transition: .10s ease;
}

.image-hover:hover .overlay {
width: 100%;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
transition: all 300ms ease-out;
vertical-align: middle;
white-space: nowrap;
}

#myVideo {
right: 0;
bottom: 0;
min-width: 100%; 
height: 47%;
-webkit-transform: scaleX(7); 
-moz-transform: scaleX(7);
-ms-transform: scaleX(7);
}

</style>

<body data-spy="scroll" data-target="#my-navbar">

<!-- Navbar  -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>           
</button>
<a class="navbar-left" href="template.html#"><img src="Logo_alb.jpg"></a>
</div>
<div class="collapse navbar-collapse navbar-right" id="myNavbar">
<ul class="nav navbar-nav">
	<li><a class="navigation" href="#music" style="color: white;font-size: 15px;">MUSIC</a>
		<div class="underline"></div></li>
		<li><a class="navigation" href="#live" style="color: white;font-size: 15px;">LIVE</a>
			<div class="underline"></div></li>
			<li><a class="navigation" href="#news" style="color: white;font-size: 15px;">NEWS</a>
				<div class="underline"></div></li>
				<li><a class="navigation" target="_blank" href="https://ro-ro.facebook.com/AlexiaTalavutisOficial/" style="color: white"><i class="fab fa-facebook-f"></i></a><div class="underline"></div></li>
				<li><a class="navigation" target="_blank" href="https://www.instagram.com/alexiat.ro/" style="color: white"><i class="fab fa-instagram"></i></a><div class="underline"></div></li>
				<li><a class="navigation" target="_blank" href="https://twitter.com/alexiatalavutis?lang=en" style="color: white"><i class="fab fa-twitter"></i></a><div class="underline"></div></li>
				<li><a class="navigation" target="_blank" href="https://www.youtube.com/user/queenofficial" style="color: white"><i class="fab fa-youtube"></i></a><div class="underline"></div></li>
				<li><a class="navigation" href="#contact" style="color: white"><i class="far fa-envelope"></i></a><div class="underline"></div></li>
</ul>
</div>
</div>
</nav>

<!-- Primay image -->
<div class="image"></div>

<!-- Logo -->
<div class="logo"></div>

<div class="container">
	<section style="padding-top: 100px;"></section>
</div>

<!-- Last video -->	
<div data-aos="fade-right" data-aos-duration="1000">
<div class="container" style="background-color: black">
	<section>
		<div id="music">
			<div class="row" style="padding-top: 10px; padding-bottom: 10px">
				<div class="col-md-6" style="padding-left: 30px">
					<h4 style="color: white">NOW PLAYING</h4>
				</div>
				<div class="col-md-6" style="text-align: right;padding-right: 30px">
					<h4 style="color: white">SUBSCRIBE</h4>
				</div>
			</div>
			<div align="center" class="embed-responsive embed-responsive-16by9">
				<embed width="800" height="550" src="https://www.youtube.com/v/tgbNymZ7vqY">
			</div>
		</div>
		</section>
	</div>
	</div>

	<div class="container">
		<section style="padding-top: 100px;"></section>
	</div>

	<!-- News -->	
	<div class="container">
		<section>
			<div id="news" style="padding-bottom: 15px;">
				<a href="#facebook" style="color: white"><i class="far fa-newspaper fa-2x"></i></a>
			</div>
			<div class="row">
				<div data-aos="fade-right" data-aos-duration="1000">
				<div class="col-md-4">
					<div class="image-hover">
						<img class="img-responsive" src="1.jpeg" alt="Car" style="width:100%">
						<div class="overlay">
							<div class="text">Hello World</div>
						</div>
					</div>
					<div class="content" style="background-color: black; padding: 10px">
						<h4 style="color: white; padding-left: 10px; padding-right: 10px;">Retro</h4>
						<p style="color: white; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">Lorem ipsum dolor..</p>
					</div>
				</div>
			</div>
				<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="150">
				<div class="col-md-4">
					<div class="image-hover">
						<img class="img-responsive" src="2.jpeg" alt="Car" style="width:100%">
						<div class="overlay">
							<div class="text">Hello World</div>
						</div>
					</div>
					<div class="content" style="background-color: black; padding: 10px">
						<h4 style="color: white; padding-left: 10px; padding-right: 10px;">Retro</h4>
						<p style="color: white; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">Lorem ipsum dolor..</p>
					</div>
				</div>
			</div>
				<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
				<div class="col-md-4">
					<div class="image-hover">
						<img class="img-responsive" src="3.jpeg" alt="Car" style="width:100%">
						<div class="overlay">
							<div class="text">Hello World</div>
						</div>
					</div>
					<div class="content" style="background-color: black; padding: 10px">
						<h4 style="color: white; padding-left: 10px; padding-right: 10px;">Retro</h4>
						<p style="color: white; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">Lorem ipsum dolor..</p>
					</div>
				</div>
			</div>
			</div>
		</section>
	</div>

	<div class="container">
		<section style="padding-top: 100px;"></section>
	</div>


	<!-- Instagram -->	
	<div class="container">
		<section>
			<div id="news" style="padding-bottom: 15px;">
				<a href="#facebook" style="color: white"><i class="fab fa-instagram fa-2x"></i></a>
			</div>
			<div class="row row-instagram">
				<div data-aos="fade-right" data-aos-duration="1000">
				<div class="col-md-3">
					<div class="image-hover">
						<img class="img-responsive" src="1.jpeg" alt="Car" style="width:100%; height: 400px">
						<div class="overlay"></div>
					</div>
				</div>
			</div>
			<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="150">
				<div class="col-md-3">
					<div class="image-hover">
						<img class="img-responsive" src="2.jpeg" alt="Car" style="width:100%; height: 200px">
						<div class="overlay"></div>
					</div>
				</div>
			</div>
			<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
				<div class="col-md-3">
					<div class="image-hover">
						<img class="img-responsive" src="3.jpeg" alt="Car" style="width:100%; height: 300px">
						<div class="overlay"></div>
					</div>
				</div>
			</div>
			<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="450">
				<div class="col-md-3">
					<div class="image-hover">
						<img class="img-responsive" src="1.jpeg" alt="Car" style="width:100%; height: 280px">
						<div class="overlay"></div>
					</div>
				</div>
			</div>
			</div>
		</section>
	</div>

	<div class="container">
		<section style="padding-top: 100px;"></section>
	</div>

	<!-- Gif -->	
	<div class="gif"></div>

	<div class="container">
		<section style="padding-top: 100px;"></section>
	</div>

	<!-- Mov
			<video autoplay muted loop id="myVideo">
					<source src="gif.mov" type="video/mp4">
			</video>

	<div class="container">
		<section style="padding-top: 100px;"></section>
	</div>  -->


	<!-- Contact -->
	<div class="container">
		<section>
			<div id="contact">
				<div style="padding-bottom: 15px;">
					<a href="#contact" style="color: white"><i class="fas fa-envelope fa-2x"></i></a>
				</div>
				<div class="container text-center" style="background-color: black; padding-top: 20px; padding-bottom: 20px;">
					<form class="form-inline text-center" style="background-color: black" action="">
						<div class="form-group" style="text-align: left;">
							<p style="color: white;">Keep up to date with Alexia's news events and competitions by signing up here... </p>
						</div>
						<div class="form-group">
							<label class="sr-only" for="email">Name:</label>
							<input type="email" class="form-control col-md-4" id="name" placeholder="NAME"  name="name" style="background-color: black; border-radius: 0px">
						</div>
						<div class="form-group">
							<label class="sr-only" for="pwd">Email:</label>
							<input type="password" class="form-control" id="email" placeholder="EMAIL ADDRESS" name="email" style="background-color: black; border-radius: 0px">
						</div>
						<button type="submit" class="btn btn-default" style="border-radius: 0px">SUBMIT</button>
					</form>
				</div>
			</div>
		</section>
	</div>

	<div class="container">
		<section style="padding-top: 100px;"></section>
	</div>

	<div class="container text-center">
		<section>
			<p style="color: white;"><strong>&copy; Copyright Alexia @ 2018</strong></p>
			<p style="color: white;"><strong>Site by Raluca</strong></p>
		</section>
	</div>

	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script>
		AOS.init({
			disable: 'mobile'
		});
</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>
		$('.nav-link').on('click', function() {
			$('.active-link').removeClass('active-link');
			$(this).addClass('active-link');
		});
	</script>
</body>
</html>
